@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: skyblue;
    color: white;
    font-family: Ubuntu;
}

header {
    background-color: black;
}

.wrapper {
    background-color: gray;
    display: flex;
}

.navbar {
    background-color: black;
    width: 80%;
    padding: 1em;
    margin: 1em auto;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.nav-item {
    text-decoration: none;
    padding: 0.5em;
}

.link {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.info {
    font-family: Hubballi;
    font-size: 2rem;
}

.work {
    border-radius: 1%;
}

.tile {
    background-color: darkgray;
    border-radius: 2%;
    height: 300px;
    width: 300px;
    object-fit: contain;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    background-color: black;
}

.links {
    background-color: black;
    width: 80%;
    padding: 1em;
    margin: 1em auto;
}