/*Imported Google font*/

@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

/*Body, body container*/

body {
    font-family: Hubballi;
    font-size: 1.5rem;
    background-color: #DEDEDE;
    color: black;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

/*Header and footer*/

header {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
    align-self: center;
}

footer {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    margin-top: 0.5em;
    align-self: center;
}

/*Navigation, links*/

.navbar {
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-item {
    margin: 0.5em;
}

.link {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
}

.link:hover {
    font-weight: bold;
}

.current {
    text-decoration: underline;
}

/*Main content flex container*/

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*Flex-items for artwork*/

.flex-item {
    height: 300px;
    width: 300px;
    margin: 0.25em;
    border-radius: 8px;
}

/*About page*/

.about-art {
    height: 300px;
    width: 300px;
    margin: 0.25em;
}

.about-box {
    background: #a9a9a9;
    background: linear-gradient(150deg, #a9a9a9 25%, #00c237 50%, #00cda8 75%, #0090df 100%);
    max-height: 300px;
    max-width: 600px;
    margin: 0.25em;
    border-radius: 8px;
    padding: 2em;
    background-size: 700%;
    background-position: 0%;
    overflow: hidden;
    transition: background-position 1s;
}

.about-box:hover, .about-box:focus {
    background-position: 100%;
}

/*Images*/

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    transition: all 0.5s ease;
}

img:hover, img:focus {
    transform: scale(0.7);
}

.special {
    transform: scale(1.5) !important;
    filter: grayscale(100%);
    transition: all 1s ease;
}

.special:hover {
    filter: grayscale(0%);
}

/*Optimizations for desktop view

- Need to fix about page (have to scroll on mobile, not great)
- Need to fix animations for about page, esp on mobile
- Add accessibility things like aria-labels, etc

@media query here